[submodule ".registry"]
	path = .registry
	url = https://github.com/hanshs474/hanshs474.r-universe.dev
	branch = HEAD
[submodule "kavel"]
	path = kavel
	url = https://github.com/hanshs474/kavel-r
[submodule "saymaker"]
	path = saymaker
	url = https://github.com/hanshs474/saymaker-r
[submodule "veida"]
	path = veida
	url = https://github.com/hanshs474/veida-r
